.img-content {
	/* height: 220px; */
	align-items: center;
	padding: 5px 10px 0 10px;
	background-color: #090C26;
}
.img-content .adm-image-img{
	border-radius: 10px;
}
.home-menu {
	margin-top: -40px;
	padding-top: 70px;

	position: relative;
	height: 160px;
	background: url("../../../public/assets/bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.home-menu .menu {
	position: relative;
	margin-bottom: 10px;
}
.adm-swiper-horizontal .adm-swiper-indicator {
	bottom: 15px;
}

.grid-demo-item-block {
	border: solid 1px #999999;
	background: #f5f5f5;
	text-align: center;
	color: #999999;
	height: 100%;
}


.adm-tab-bar-item-active .adm-tab-bar-item-title {
	color: #e21d24 !important;
}

.adm-tabs-tab-line {
	background: #e80101;
}
.adm-tabs-content {
	padding: 0;
}
.adm-tabs-header {
	background: #fff;
}
.button {
	font-size: 35px;
	margin-bottom: 5px;
	color: #1e90ff;
}
.button-txt {
	color: #1e90ff;
}
.button-list {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	background: #fff;
	margin: 2px 0px;
}
.img-list {
	margin: auto;
	height: 55px;
	width: 55px;
}
/* .app-header {
  color: white;
  background:#e53333;
	width: 100%;
	position: fixed;
	z-index: 1;
	padding: 0px;
} */
.adm-nav-bar-left {
	padding-left: 12px;
}
.adm-nav-bar-right {
	padding-right: 12px;
}
.body-content {
	top: 45px;
	padding-bottom: 50px;
	position: relative;
}
.footer {
	width: 100%;
	position: fixed;
	z-index: 1;
	bottom: 0;
	background-color: white;
	border-top: 0.01rem solid #dcdcdc;
}
.home-hot {
	background: unset;
	width: 20px;
	height: 20px;
}
.home-game-name {
	padding-top: 5px;
	font-size: 15px;
}
.home-game-body {
	padding: 0 10px 50px;
	background: url("../../../public/assets/contentBg.png");
	background-repeat: repeat-y;
	background-position: top center;
	background-size: contain;
}

.home-game-left {
	float: left;
	font-size: 16px;
	background-color: #0abbb5;
	color: #fff;
	line-height: 25px;
	border-radius: 25px;
	padding: 3px 12px;
}
.home-game-right {
	float: right;
	color: #727272;
	line-height: 30px;
	height: 30px;
	font-size: 16px;
}
.home-game-righ-icon {
	color: #0abbb5;
}

.home-logo {
	/* height: 50px; */
	/* width: 150px; */
	padding: 5px 0px;
	margin-left: -15px;
	text-align: left;
	max-width: 100px;
}
.home-list {
	padding-bottom: 15px;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat, no-repeat;
}
.adm-tab-bar-icon-badge {
	--top: 6px !important;
}

.sc-button {
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.sc-button-img {
	width: 60px;
	height: 60px;
	margin: auto;
	margin-bottom: 3px;
}

.sc-youhui {
	margin-bottom: 10px;
	padding: 0 20px 20px 20px;
}

.sc-jxhw {
	margin: 25px auto;
	width: 170px;
}

.sc-itme {
	padding: 15px 0px;
	text-align: center;
	border-radius: 5px;
	background-image: url("../../../public/assets/bgItem.png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat, no-repeat;
}

.sc-itme-img {
	width: 90px;
	min-height: 90px;
	margin: auto;
	margin-top: 25px;
}
.sc-itme-title {
	font-size: 16px;
	color: #555;
	margin: 0 auto;
	font-weight: 600;
	width: fit-content;

	color: #fff;

	/* font-weight: 700; */
}
.sc-itme-desc {
	font-size: 14px;
	color: #fff;
}

.sc-type {
	width: 100%;
	text-align: left;
	color: #fff;
	/* background-size:100% 100%; */
	/* height: 90px; */
}
.sc-type-name {
	/* margin-top: -75px; */
	position: relative;
	padding: 20px 10px 32px;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat, no-repeat;
	color: #000;

	text-align: center;

	/* left: 50%; */
	/* top:0;left:0;right:0;bottom:0;margin: auto; */
}
.sc-type-name .sc-hot {
	position: absolute;
	right: 0;
	width: 25px;
	height: 25px;
}
.sc-type-name .title {
	color: #fff;
	font-size: 20px;
	font-weight: 600;

	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.sc-type-name .sc-img {
	margin: 0 auto;
	width: 90px;
}
.sc-badge {
	padding: 10px;
}
.sc-item {
	padding: 25px 0px 15px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 7px -3px #e6048d;
}
.sc-prev {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
 
  padding-bottom: calc(5vh + 10px);
  min-height: 150px;
  margin-left: 10px;
  margin-right: 10px;


}
.sc-prev .title {
	text-align: center;
  font-size: 14px;
  font-weight: 600;

  padding-top: calc(.5vh + 7px);
}
.sc-prev .content {
  text-indent: 30px;
  padding-top: 40px;
  padding-left: calc(6vh + 17px);
  padding-right: calc(6vh + 12px);
  padding-bottom: 10px;
}
.sc-item-img {
	width: 100px;
	height: 120px;
	margin: auto;
	margin-top: 5px;
}
.sc-item-title {
	font-size: 16px;
	color: #555;
	margin-bottom: 5px;
}
.sc-item-desc {
	font-size: 12px;
	color: #777;
}
.dy-type {
	font-size: 18px;
	color: #fff;
	margin: 20px 0;
	font-weight: bold;
	letter-spacing: 1.5px;
}
.home-game-body .adm-grid-item {
	margin: 0 auto;
	width: 100%;
	max-width: 250px;
}
.dy-type:before {
	content: "/////";
	border-style: unset;
	border-color: unset;
	border-width: unset;
	text-align: right;
	font-size: 14px;
	color: #1520f8;
	letter-spacing: 1px;
	font-weight: 600;
}
.dy-type:after {
	content: "/////";
	border-style: unset;
	border-color: unset;
	border-width: unset;
	text-align: left;
	font-size: 14px;
	color: #8910b4;
	letter-spacing: 1px;
	font-weight: 600;
}
@media only screen and (min-width: 600px) {
	.sc-type-name .sc-img {
		right: 45px;
	}
}
