.img-content {
	/* height: 220px; */
	align-items: center;
}
.grid-demo-item-block {
  border: solid 1px #999999;
  background: #f5f5f5;
  text-align: center;
  color: #999999;
  height: 100%;
}

.adm-tabs-tab-active {
	color: #e80101;
}
.adm-tab-bar-item-active{
	color: #e80101;
}
.adm-tabs-tab-line {
	background: #e80101;
}
.adm-tabs-content{
	padding: 0;
}
.adm-tabs-header{
	background: #fff;
}
.button{
	font-size: 35px;
	margin-bottom: 5px;
	color: #1e90ff;
}
.button-txt{
	color: #1e90ff;
}
.button-list{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	background: #fff;
	margin: 2px 0px;
}
.img-list{
	margin: auto;
	height: 55px;
	width: 55px;
}
/* .app-header {
  color: white;
  background:#e53333;
	width: 100%;
	position: fixed;
	z-index: 1;
	padding: 0px;
} */
.adm-nav-bar-left{
	padding-left: 12px;
}
.adm-nav-bar-right{
	padding-right: 12px;
}
.body-content{
	
	top: 45px;
	padding-bottom: 50px;
	position: relative;
}
.footer{
	width: 100%;
	position: fixed;
	z-index: 1;
	bottom: 0;
	background-color: white;
	border-top: 0.01rem solid #dcdcdc;
}
.home-hot{
	background: unset;
	width: 20px;
	height: 20px;
}
.home-game-name{
	padding-top:5px;
	font-size: 15px;
}
.home-game-body{
	/* margin-top: 5px; */
	background-color: #f5fbf9;
	padding: 10px;
}

.home-game-left{
	float: left;
	font-size: 16px;
	background-color: #0abbb5;
	color: #fff;
	line-height: 25px;
	border-radius: 25px;
	padding: 3px 12px;
}
.home-game-right{
	float: right;
	color: #727272;
	line-height: 30px;
	height: 30px;
	font-size: 16px;
}
.home-game-righ-icon{
	color: #0abbb5;
}

.home-logo{
	height: 30px;
	/* width: 150px; */
	/* padding: 5px 0px; */
	margin-left: -15px;
	text-align: left;
}
.adm-tab-bar-icon-badge {
  --top: 6px !important;
}

.sc-button{
	text-align: center;
	font-size: 15px;
	color: #727272;
}
.sc-button-img{
	width: 50px;
	margin: auto;
	margin-bottom: 3px;
}

.sc-youhui{
	margin: 5px;
	margin-top: 10px;
}

.sc-jxhw{
	margin: 25px auto;
	width: 200px;
}

.sc-itme{
	background-color: #fff;
	padding:10px 0px;
	text-align: center;
	border-radius: 5px;
}

.sc-itme-img{
	width: 110px;
	margin: auto;
	margin-top: 5px;
}
.sc-itme-title{
	font-size: 16px;
	color: #555;
	padding: 3px 0px;
	/* font-weight: 700; */
}
.sc-itme-desc{
	font-size: 14px;
	color: #a2a2a2;
}
.sc-type-list{
	padding: 5px;
	padding-bottom: 0px;
}
.sc-type{
	text-align: center;
	color: #727272;
	/* background-size:100% 100%; */
	/* height: 90px; */
}
.sc-type-img{
}
.sc-type-name{
	/* margin-top: -75px; */
	height: 80px;
	padding-top: 20px;
	background-size: contain;
	background-position: bottom;
  background-repeat: no-repeat, no-repeat;
		/* left: 50%; */
		/* top:0;left:0;right:0;bottom:0;margin: auto; */
}
.sc-badge{
	padding: 5px;
}
.dy-type{
	font-size: 16px;
  color: #000;
  margin: 20px 0;
	font-weight: bold;
	border-color: #1979ff;
	padding: 0 50px;
}