.user-info{
    --border-top: 0px;
    overflow:hidden;

    color:#fff;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    background:url('../../../public/assets/bgUser.png') no-repeat 100% 100%;
    background-position: center center;
    background-size: 100% 100%;

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
.user-data{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}
.user-button{
    min-width: 250px;
}
.user-info .adm-grid .name{
    margin-right: 20px;
    font-size: 14px;
}
.user-info  .adm-space-horizontal.adm-space-wrap > .adm-space-item{
    padding-bottom: unset;
}
.user-name{
    font-size: 18px;
    margin-top: 15px;
}
.user-balance{
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;

}
.user-balance div:last-child{
    font-size: 20px;

}
.user-img{
    float: left;
    margin:10px;
    border: 1px solid #fff;
    margin-left:15px;
}

.user-vip{
    overflow:hidden;
    margin-top: 18px;
    float:right;
    font-size: 14px;
    background: linear-gradient(45deg,#f8c661,#f4635e);
    width: 100px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 30px;
    line-height: 30px;
}
.user-vip-img{
    float: left;
}
.user-vip-txt{
    float: left;
    margin-left: 10px;
}
.user-button{
    text-align: center;

}
.user-button-left{

    border-right: solid 1px var(--adm-border-color);
}
.user-button-icon{
    --item-span: 1;
    font-size: 32px;
    /* text-align: center; */
    color: #de3d54;
}

.user-button-list{
    margin: 10px;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #8815b7;
    border-radius: 10px;
    font-size: 14px;
}
.user-button-list .adm-image{
    margin: 0 auto;
    margin-bottom: 10px;
}
.user-menu {
    padding: 10px 0;
}
.user-menu .adm-image{
    width: 20px;
    height: 20px;
}
.user-menu .adm-list-body,.user-menu .adm-list-item{
    background-color:transparent !important;
    text-align: left;
    font-size: 12px;
}
.user-menu .adm-list-default .adm-list-body{
    border-top: unset;
    border-bottom: unset;

}
.user-menu .adm-list-item-content{
    border-color: #5c138a ;
    align-items: center;
    padding: 3px 15px;
}
.user-menu .adm-image{
    margin-bottom: unset;
}

.user-button-logout{
    text-align: center;
    color: #e53333;
    margin-bottom: 30px;
    padding: 10px 40px;
}
/*.user-button-list img{*/
/*    height: 25px;*/
/*    width: 25px;*/
/*}*/

