.user-info{
    --border-top: 0px;
    overflow:hidden;
    color:#fff;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background:url('../../../public/assets/bgHeaderUser.png') no-repeat 100% 100%;
    background-position: center center;
    background-size: 100% 100%;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.user-data{
    display: flex;
    justify-content: space-between;
}
.user-button{
    min-width: 200px;
}
.user-info .adm-grid .name{
    margin-right: 20px;
    font-size: 14px;
}
.user-info  .adm-space-horizontal.adm-space-wrap > .adm-space-item{
    padding-bottom: unset;
}
.user-name{
    font-size: 24px;
    margin-top: 15px;
}
.user-balance{
    margin-top: 10px;
    font-size: 14px;
}
.user-balance span{
    margin-right: 10px;
}

.user-img{
    float: left;
    margin:10px;
    margin-left:15px;
}

.user-vip{
    overflow:hidden;
     margin-top: 18px;
     position: relative;
 /* float:right;
    font-size: 14px;
    background: linear-gradient(45deg,#f8c661,#f4635e);
    width: 100px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 30px;
    line-height: 30px; */
}
.user-vip-img{
    position: relative;
/*  float: left; */
}
.user-vip-txt{
    position: absolute;
    top: 2px;
    right: 5px;
    font-weight: 600;
    font-size: 17px;
    width: 18px;
    text-align: center;
}
.user-button{
    text-align: center;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 15px;
}
.user-button .adm-grid-item{
    padding: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.user-button-icon{
    --item-span: 1;
    font-size: 32px;
    /* text-align: center; */
    color: #de3d54;
}

.user-button-list{
    margin: 10px 10px 20px;
    color: #fff;

    text-align: center;
    padding: 20px 10px;
    border: 1px solid #8815b7;
    border-radius: 10px;
    font-size: 14px;
}
.user-button-list .adm-image{
    margin: 0 auto;
    margin-bottom: 10px;
}
.user-button-list .adm-grid-item > div:last-child{
   opacity: .8;
}
.user-menu {
    padding: 10px 0;
}
.user-menu .adm-image{
    width: 40px;
    height: 40px;
}
.user-menu .adm-list-body,.user-menu .adm-list-item{
    background-color:transparent !important;
    text-align: left;
    font-size: 15px;

}
.user-menu .adm-list-item-content-main{
    opacity: .8;
}
.user-menu .adm-list-default .adm-list-body{
    border-top: unset;
    border-bottom: unset;

}
.user-menu .adm-list-item-content{
    border-color: unset ;
    border-top: unset;
    position: relative;
    align-items: center;
    padding: 3px 15px;
}
.user-menu .adm-list-item-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 67px;
    border-top:1px solid rgba(92, 19, 138, .5);
    width: 100%;

}

.user-menu .adm-image{
    margin-bottom: unset;
}

.user-button-logout{
    text-align: center;
    color: #e53333;
    margin-bottom: 30px;
    padding: 10px 40px;
}
/*.user-button-list img{*/
/*    height: 25px;*/
/*    width: 25px;*/
/*}*/

