.proxy-info{
    border-top: 1px solid #0abbb5  !important;
    border-right: 1px solid #0abbb5  !important;
}
.proxy-key{
    color: #727272;
    border-left: 1px solid #0abbb5 ;
    border-bottom: 1px solid #0abbb5 ;
    background: #eee;
    padding: 5px;
    text-align: center;
}
.proxy-value{
    border-left: 1px solid #0abbb5 ;
    border-bottom: 1px solid #0abbb5 ;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: #0abbb5;
}
.proxy-total{
    font-size: 18px;
    font-weight: bold;
}