.open-body{
    background: #f0f0f0;
}
.open-itme{
    padding: 15px;
    border-radius: 10px;
    margin: 12px;
    background: #fff;
}
.open-title{
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    line-height: 30px;
}
.open-expect{
    font-size: 13px;
    color: #888;
    text-align: right;
    line-height: 30px;
}
.open-number{
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #f84848;
    border-radius: 50%;
    font-weight: bolder;
    border: 1px solid #f84848;
    font-size: 16px;
}

.open-list{
    text-align: center;
    font-size: 14px;
    color: #555;
}
.open-list-head{
    background: #888;
    margin-top: 10px;
}