.record-date{
    font-size: 16px;
    text-align: center;
    padding: 10px;
    background: #fff;
}
.record-date-left{
    border-right: 2px solid #eee;
}
.record-type{
    background: #eee;
}
/* .record-list{
    margin-top: 10px;
} */
.record-cptitle{
    text-align: left;
}
.record-status-str{
    text-align: right;
}
.record-status-str span{
    font-size: 14px;
}
.record-info-value span{
    font-size: 14px;
}
.record-expect{
    text-align: left;
    font-size: 14px;
    color: #888;
    padding-top: 3px;
}
.record-amount{
    text-align: right;
    font-size: 14px;
    color: #888;
    padding-top: 3px;

}

.record-info-body{
    text-align: center;
}
.record-info-img{
    margin: auto;
    margin-top: 20px;
}
.record-info-title{
    font-size: 16px;
    font-weight: bolder;
    margin-top: 15px;
}
.record-info-expect{
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}
.record-info-key{
    text-align: right;
    font-size: 15px;
}
.record-info-value{
    text-align: left;
    font-size: 15px;
    color: #888;
}


