.App-loading{
  color: #f00;
  text-align: center;
  margin: auto;
  padding-top: 60%;
  font-size: 30px;
}

.App-main{
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 600px;
  margin: auto;
}
.App-header {
  color: white;
  background: #e53333;
  width: 100%;
  position: absolute;
  padding: 0px;
}
.App-header>.adm-nav-bar{
  padding: 0px;
}
.App-content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 45px;
  overflow: auto;
  display: block;
  
}

.App-footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #dcdcdc;
}

.adm-dialog-footer .adm-dialog-action-row > .adm-dialog-button{
  color: #e53333;
}
.adm-dialog-wrap{
  width: 90vw !important;
}


.slide-enter,
.slide-exit {
  transition: transform 300ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
