
.code-body .adm-grid-item{
  color: #c99e67 !important;
}

.adm-tab-bar-item-active{
  color: #c99e67 !important;
}

.kefu a{
  color: #c99e67 !important;
}


.k3-kj-time{
  color: #c99e67 !important;
}

.userlist-title{
  color: #c99e67 !important;
}

.touzhu-button-left button{
  color: #c99e67 !important;
}

.touzhu-button-number{
  color: #c99e67 !important;
}

.adm-tabs-tab-active{
  color: #c99e67 !important;
}

.adm-picker-header-button{
  color: #c99e67 !important;
}
.adm-calendar-arrow-button{
  color: #c99e67 !important;
}
.adm-dialog-button{
  color: #c99e67 !important;
}

.touzhu-number-select{
  color: #c99e67 !important;
}
.adm-mask-content .adm-dot-loading{
  color: #c99e67 !important;
}


.about-title{
  color: #c99e67 !important;
}

.home-game-right svg{
  color: #c99e67 !important;
}

.proxy-value {
  color: #c99e67 !important;
}
.adm-button{
  color: #c99e67 !important;
  /* border-color: #d0d0f0 !important; */
}
.adm-nav-bar-right .adm-button{
  color: #fff !important;
}

.k3-name-button{
  color: #c99e67 !important;
}


.check-button-login{
  color: #fff !important;
}
.adm-notice-bar.adm-notice-bar-alert {
  --text-color: #c99e67;
}