
.code-body .adm-grid-item{
  color: #8815b7 !important;
}


.adm-tab-bar-item-title{
  color: #8e8e91 ;
}



.adm-calendar-cell-selected{
  color: #fff !important;
  background-color: #8815b7 !important;
}
.kefu a{
  text-underline-offset: 5px;
  color: #e6048d !important;
}


.adm-infinite-scroll{
  color: #fff !important;
}
.k3-kj-time{
  color: #8815b7 !important;
}

.userlist-title{
  color: #8815b7 !important;
}

.touzhu-button-left button{
  color: #8815b7 !important;
}

.touzhu-button-number{
  color: #8815b7 !important;
}

.adm-tabs-tab-active{
  color: #8815b7 !important;
}

.adm-picker-header-button{
  color: #8815b7 !important;
}
.adm-calendar-arrow-button{
  color: #8815b7 !important;
}
.adm-dialog-button{
  color: #8815b7 !important;
}

.touzhu-number-select{
  color: #8815b7 !important;
}
.adm-mask-content .adm-dot-loading{
  color: #8815b7 !important;
}


.about-title{
  color: #8815b7 !important;
}

.home-game-right svg{
  color: #8815b7 !important;
}

.proxy-value {
  color: #8815b7 !important;
}
.adm-button{
  color: #8815b7 ;
  /* border-color: #d0d0f0 !important; */
}
.adm-nav-bar-right .adm-button{
  border-radius: 5px;
}
.adm-nav-bar-right .adm-button:first-child{
  color: #fff ;
  /* background-color:#e21d24 ; */
}
.adm-nav-bar-right .adm-button:last-child{
  color: #fff ;
}

.k3-name-button{
  color: #000 !important;
}

.adm-calendar-cell.adm-calendar-cell-today{
  color: #8815b7 ;
}
.adm-calendar-cell-selected{
  color: #fff !important;
  background-color: #8815b7 !important;
}

.check-button-login{
  color: #fff !important;
}
.adm-notice-bar.adm-notice-bar-alert {
  --text-color: #8815b7;
}
