.code-body{
  /* background-color: #d4d0ff !important; */
  /* background: linear-gradient(#D4D0FF,#D4D0FF, #E0FFDB); */
  background: linear-gradient(#ff8b00,#fdc5ae,#e0ffdb);
}
.App-header{
  background-color: #f98e77 !important;
}
.adm-notice-bar.adm-notice-bar-alert {
  --background-color: #f5fbf9;
  --border-color: #f5fbf9;
}
.adm-notice-bar-content {
  color: #727272 !important;
}
.withdraw-info-head{
  color: #727272 !important;
}
.withdraw-info{
  border-top: 1px solid #727272 !important;
  border-right: 1px solid #727272 !important;
}
.withdraw-info-key {
  color: #727272;
  border-left: 1px solid #727272;
  border-bottom: 1px solid #727272;
  background:#eee;
}
.withdraw-info-value {
  border-left: 1px solid #727272;
  border-bottom: 1px solid #727272;
}
.adm-button.adm-button-large{
  background-color: #f98e77 !important;
  border-color: #f98e77 !important;
}
.k3-name-list-button-active{
  background-color: #f98e77 !important;
  border-color: #f98e77 !important;
}
.touzhu-button-left button{
  border-color: #f98e77 !important;
  background-color: #fff !important;
}
.touzhu-button-right button{
  border-color: #d4d0ff !important;
  background-color: #f98e77 !important;
}
.adm-tabs-tab-line{
  background: #f98e77 !important;
}
.hz-card-activity{
  background: #f98e77 !important;
}
.user-info{
  background: #f98e77 !important;
}
.history-button{
  border-color: #f98e77 !important;
  background-color: #f98e77 !important;
}
.user-button-logout button{
  border-color: #f98e77 !important;
  background-color: #f98e77 !important;
}
.ks-alert-body button{
  border-color: #d4d0ff !important;
  background-color: #d4d0ff !important;
}
.home-game-left{
  background: #d4d0ff !important;
}

.adm-checkbox.adm-checkbox-checked .adm-checkbox-icon {
  border-color: #d4d0ff !important;
  background-color: #d4d0ff !important;
  border: 1px solid #d4d0ff !important;
}
.withdraw-info {
  border-top: 1px solid #d4d0ff !important;
  border-right: 1px solid #d4d0ff !important;
}
.withdraw-info-value {
  border-left: 1px solid #d4d0ff !important;
  border-bottom: 1px solid #d4d0ff !important;
}
.withdraw-info-key {
  border-left: 1px solid #d4d0ff !important;
  border-bottom: 1px solid #d4d0ff !important;
}
.proxy-info {
  border-top: 1px solid #d4d0ff !important;
  border-right: 1px solid #d4d0ff !important;
}
.proxy-value {
  border-left: 1px solid #d4d0ff !important;
  border-bottom: 1px solid #d4d0ff !important;
}
.proxy-key {
  border-left: 1px solid #d4d0ff !important;
  border-bottom: 1px solid #d4d0ff !important;
}
.proxy-member-info {
  border-top: 1px solid #d4d0ff !important;
  border-right: 1px solid #d4d0ff !important;
}

.user-button g{
  color: #f98e77 !important;
}
.user-vip{
  background: linear-gradient(45deg,#f8c661,#d4d0ff) !important;
}