.discount-body{
    padding-top:45px;
}
.discount-empty{
    padding-top:45px;
}
.discount-title{
    font-size: 16px;
    color: #333;
    margin: 5px 0px;
}
.activity-body img{
    max-width: 100%;
}
